<!DOCTYPE html>
<html>
  <head>
    <title>E0 matiasop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p><%= link_to "Go Home", root_path %><p>
    <p><%= link_to "Solicitudes", requests_path %><p>
    <p><%= link_to "Productos", products_path %><p>
    <%= yield %>
  </body>
</html>
